.pie-de-pagina {
  background-color: #212121;
  color: #a0a0a0;
  padding: 30px 0;
  font-family: "Ruluko", sans-serif;
}

.contenedor-pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.pie-izquierda {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-pie {
  height: 30px;
}

.pie-derecha {
  display: flex;
  gap: 25px;
}

.pie-de-pagina a {
  color: #e0e0e0;
  text-decoration: none;
  font-family: "Ysabeau Office", serif;
}

.pie-de-pagina a:hover {
  text-decoration: underline;
  color: white;
}
